@using Blazordex.Clients;
@using Blazordex.Models;
@using Blazordex.Shared.Components;

@page "/"

@inject PokeClient PokeClient



<PageTitle>Blazordex | Pokedex made with Blazor</PageTitle>



<div class="pokemon-cards">
  @foreach (var item in pokemons)
  {
    <PokemonCard Url="@item.Url"></PokemonCard>
  }
</div>

@if (hasNext)
{
  <div class="d-grid gap-2">
    <button class="btn btn-warning mb-4 " Raised="true" @onclick="LoadPokemons">
      Load more
    </button>
  </div>
}

@code {

  private List<NamedModel> pokemons = new List<NamedModel>();
  private bool hasNext;

  private string search;

  protected override async Task OnInitializedAsync()
  {
    await LoadPokemons();
  }

  private async Task LoadPokemons()
  {
    var result = await PokeClient.GetPokemons(offset: pokemons.Count);

    hasNext = result?.NextPage is not null;

    pokemons.AddRange(result.Pokemons);
  }

  
}
