@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="page">
    
    <div class="sidebar">
        <NavMenu />
    </div> 

    <main>
        <div class="top-row px-2 d-flex flex-md-row justify-content-md-between">

            <span class="subtitle text-secondary fw-semibold fs-6">A Pokedex made with Blazor</span>
            
            <form id="search" @onsubmit="SearchPokemon">
                <i class="oi oi-magnifying-glass" aria-hidden="true"></i> 
                <input placeholder="Search by name or id..." type="search" @bind-value="@search" />
                <!--<button type="submit">Search</button>-->
            </form>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private string search;

    private async Task SearchPokemon()
  {
    if (!string.IsNullOrWhiteSpace(search))
    {
      NavigationManager.NavigateTo($"/pokemon/{search}");
    };
  }
}
